.header h1 {
    margin: 0px;
    font-weight: 400;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
    background-color: darkgrey;
}

.header {
    height: 4em;
    padding: 4em;
    font-size: 3em;
    color: ghostwhite;
    background-image: url("../imgs/istockphoto-1403054866-170667a.jpeg");
    background-size: cover;
    background-position: center;
}

.header h1 {
    margin: 0px;
}

.products {
    width: 100%;
    margin: auto;
}

.products td {
    width: 50%;
    padding: 3em;
    font-weight: 600;
}

.products img {
    width: 100%;
    border: solid 3px rgb(26, 23, 23);
}

.footer {
    height: 3em;
    line-height: 3em;
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: 400;
}